    <%- include('./partials/head.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <div class="not-found content">
     <h1>Error 404 </h2>
    <p>Oops,Page not found</p>
    </div>
    <%- include('./partials/footer.ejs') %>

    

