<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
    <div class="about content">
     <h1>About Us </h2>
     <p>A community site that allows you to publish your idears,</p>
     <p>that can help you shape the future of mankind.</p>
     <p>If you are looking for greate idears then this is</p>
      <p>the place to find idears that could posibly change the world.</p>    
    </div>
<%- include('./partials/footer.ejs') %>

